Backend/FlowSpot/src/de/hackerslite/flowspot/webservice/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.flowspot.hackerslite.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.flowspot.hackerslite.de/" name="WebserviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.flowspot.hackerslite.de/" schemaLocation="http://10.10.1.107:9998/ws/hue/?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllLights">
<part name="parameters" element="tns:getAllLights"/>
</message>
<message name="getAllLightsResponse">
<part name="parameters" element="tns:getAllLightsResponse"/>
</message>
<message name="setHue">
<part name="parameters" element="tns:setHue"/>
</message>
<message name="setHueResponse">
<part name="parameters" element="tns:setHueResponse"/>
</message>
<message name="setBrightness">
<part name="parameters" element="tns:setBrightness"/>
</message>
<message name="setBrightnessResponse">
<part name="parameters" element="tns:setBrightnessResponse"/>
</message>
<message name="setOn">
<part name="parameters" element="tns:setOn"/>
</message>
<message name="setOnResponse">
<part name="parameters" element="tns:setOnResponse"/>
</message>
<message name="party">
<part name="parameters" element="tns:party"/>
</message>
<message name="partyResponse">
<part name="parameters" element="tns:partyResponse"/>
</message>
<portType name="Webservice">
<operation name="getAllLights">
<input wsam:Action="getAllLights" message="tns:getAllLights"/>
<output wsam:Action="http://webservice.flowspot.hackerslite.de/Webservice/getAllLightsResponse" message="tns:getAllLightsResponse"/>
</operation>
<operation name="setHue">
<input wsam:Action="setHue" message="tns:setHue"/>
<output wsam:Action="http://webservice.flowspot.hackerslite.de/Webservice/setHueResponse" message="tns:setHueResponse"/>
</operation>
<operation name="setBrightness">
<input wsam:Action="setBrightness" message="tns:setBrightness"/>
<output wsam:Action="http://webservice.flowspot.hackerslite.de/Webservice/setBrightnessResponse" message="tns:setBrightnessResponse"/>
</operation>
<operation name="setOn">
<input wsam:Action="setOn" message="tns:setOn"/>
<output wsam:Action="http://webservice.flowspot.hackerslite.de/Webservice/setOnResponse" message="tns:setOnResponse"/>
</operation>
<operation name="party">
<input wsam:Action="party" message="tns:party"/>
<output wsam:Action="http://webservice.flowspot.hackerslite.de/Webservice/partyResponse" message="tns:partyResponse"/>
</operation>
</portType>
<binding name="WebservicePortBinding" type="tns:Webservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllLights">
<soap:operation soapAction="getAllLights"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setHue">
<soap:operation soapAction="setHue"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setBrightness">
<soap:operation soapAction="setBrightness"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOn">
<soap:operation soapAction="setOn"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="party">
<soap:operation soapAction="party"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebserviceService">
<port name="WebservicePort" binding="tns:WebservicePortBinding">
<soap:address location="http://10.10.1.107:9998/ws/hue/"/>
</port>
</service>
</definitions>
